{% extends 'admin/change_list.html' %}
{% block extrahead %}
{{ block.super }}
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.4/MathJax.js?config=TeX-MML-AM_CHTML"></script>
  <script type="text/x-mathjax-config">
    MathJax.Hub.Config({
      showProcessingMessages: false,
      tex2jax: {
        inlineMath: [['$','$'],['$$','$$'],['\\(','\\)']],
        processEscapes: true
      }
    });
  </script>
{% endblock %}

{% block object-tools %}
    <a href={% url 'admin:source_import_csv' %}>import CSV</a>
    <br />
    {{ block.super }}
{% endblock %}

{% block exextrahead %}

{% endblock %}
